<template name="stap">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mb40 mt30">
                <img src="/img/header.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12"><img src="/img/line-top.png" class="img-responsive" /></div>
        </div>
        <div class="row">
            <div class="col-md-3">&nbsp;</div>
            <div class="col-md-6 text-left mt30 mb20 upper">
                <h2>Inleiding</h2>
                <p class="text-justify">Optassum quam facidunde num volenis ne lauda none derionsequis plibusam ea consendionet aut ullorrum dus nis que nihilitam quide volorestis expligendit, sincto temporrore et dit eatet velicil iliqui tes evendio rectis autempore voluptae volupta autem reprorpos aut ligenet doloremporum erferum re nulpario milique natur?</p>
            </div>
            <div class="col-md-3">&nbsp;</div>
        </div>
        <div class="row mt25 mb25">
            <div class="col-md-12 text-center"><img src="/img/line-curl.png" style="width:50%; margin:0px auto;" class="img-responsive" /></div>
        </div>
        <div class="row">
            <div class="col-md-12 mb40 text-center"><img src="/img/glazen.png"  class="img-responsive" /></div>
        </div>
        <div class="row mt40">
            <div class="col-md-3 text-center havebackline">&nbsp;</div>
            <div class="col-md-6 text-center"><a href="/stapsmaak"><img src="/img/mijn-favo-bier.png" class="img-responsive" /></a></div>
            <div class="col-md-3 text-center havebackline">&nbsp;</div>
        </div>
    </div>
</template>