
<template name="stapsmaak">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center mb30 mt30">
                <img src="/img/header.png" class="img-responsive" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mb30 mt30">
                <div class="container stapsmaak" id="navsprite">
                    <a href="/">&nbsp;</a>
                </div>

            </div>
        </div>
        <div class="row mb40">
            <div class="col-md-4 text-center"><img src="/img/smaak-zuur.png" class="img-responsive" /></div>
            <div class="col-md-4 text-center"><img src="/img/smaak-bitter.png" class="img-responsive" /></div>
            <div class="col-md-4 text-center"><img src="/img/smaak-zoet.png" class="img-responsive" /></div>
        </div>
        <div class="row mb40 text-center">
            <div class="col-md-12 mt30 text-center"><img src="/img/button-smaak.png" class="img-responsive" /></div>
        </div>
        <div class="row mt30 mb30">
            <div class="col-md-12"><img src="/img/line-top.png" class="img-responsive" /></div>
        </div>
        <div class="row mb10">
            <div id="footernav" class="col-md-12 text-center btn-group-vertical" style="vertical-align: middle">
                <a href="/"><img src="/img/button-terug.png" /></a>
                <a href="/" class="verfijn"><img src="/img/verfijn.png" /></a>
                <a href="/"><img src="/img/button-verder.png" /></a>
            </div>

        </div>
    </div>
</template>